.App {
  grid-template-areas:
    'header header header header'
    'nav content content content'
    'nav content content content'
    'nav content content content';
  grid-template-rows: 2rem 1fr 1fr 1fr;
  grid-template-columns: 2rem 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.nav {
  grid-area: nav;
}
